packages: [
  "angularjs"
  "apathy-theme"
  "atom-angularjs"
  "atom-beautify"
  "atom-bootstrap3"
  "atom-coffee-repl"
  "atom-handlebars"
  "atom-jade"
  "atom-jasmine"
  "atom-lint"
  "atom-prettify"
  "atom-runner"
  "atom-soda-dark-ui"
  "atomatigit"
  "autocomplete-css"
  "autocomplete-glsl"
  "autocomplete-paths"
  "autocomplete-plus"
  "autocomplete-snippets"
  "base16-syntax"
  "bittersweet-syntax"
  "coffee-compile"
  "coffee-porter"
  "coffee-refactor"
  "coffeedocs"
  "color-picker"
  "comment-headers"
  "cucumber"
  "docblockr"
  "duotone-dark-syntax"
  "emmet"
  "figlet"
  "file-icons"
  "file-types"
  "gist-it"
  "git-blame"
  "git-diff-details"
  "git-grep"
  "git-log"
  "git-plus"
  "green-syntax"
  "greti-syntax"
  "iris-ui"
  "isotope-ui"
  "js-refactor"
  "jscs-fixer"
  "language-babel"
  "language-jade"
  "language-javascript-semantic"
  "language-js-specs"
  "language-log"
  "language-spacebars"
  "linter"
  "linter-coffeelint"
  "linter-eslint"
  "linter-handlebars"
  "linter-jscs"
  "linter-scss-lint"
  "merge-conflicts"
  "meteor-api"
  "meteor-helper"
  "meteor-snippets"
  "minimap"
  "monokai-seti"
  "monokai-soda"
  "night-snilek-syntax"
  "notebook"
  "open-in-sourcetree"
  "package-sync"
  "pigments"
  "project-manager"
  "refactor"
  "remote-atom"
  "remote-edit"
  "resize-panes"
  "sass-autocompile"
  "scope-inspector"
  "script"
  "ScssBundle"
  "seti-monokai"
  "seti-syntax"
  "seti-ui"
  "seti-ui-red"
  "stacktrace"
  "sublime-tabs"
  "syntax-settings"
  "task-list"
  "term2"
  "themed-settings"
  "tree-ignore"
  "tree-view-filter"
  "turbo-javascript"
  "unity-ui"
  "view-tail-large-files"
  "visual-bell"
  "web-browser"
]
